<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="keyword_javaDB.KeywordMapper">

	<select id="selectAll" resultType="mealkit.entity.KeywordVO">
		select * from T_KEYWORD
	</select>
	
	<insert id="boardInsert" parameterType="mealkit.entity.KeywordVO">
		insert into t_keyword
		values(#{k_seq}, #{k_name}, #{k_super_seq})
	</insert>
  
</mapper>