<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mealkit.model.MemberMapper">

	<select id="checkLogin"  parameterType="mealkit.entity.MemberVO"
                           resultType="mealkit.entity.MemberVO">
    	select * from t_member
    	where m_id=#{m_id} and m_pw=#{m_pw}
  	</select>
  
</mapper>