<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mealkit.model.RecipeMapper">

	<select id="selectAllRecipe" resultType="mealkit.entity.RecipeVO">
		select * from t_recipe
	</select>
	
	<insert id="insertRecipe" parameterType="mealkit.entity.RecipeVO">
		insert into t_recipe(r_seq, r_name, r_content, m_id, r_date)
		values(#{r_seq}, #{r_name}, #{r_content}, #{m_id}, SYSDATE)
	</insert>
	
	<insert id="insertMaterial" parameterType="mealkit.entity.MaterialVO">
		insert into t_material(mat_seq,r_seq,mat_name,mat_info,mat_weight)
		values(t_material_SEQ.nextVal, #{r_seq}, #{mat_name}, #{mat_info}, #{mat_weight})
	</insert>
	
	
  
</mapper>