@charset "utf-8";


#ulid>div:nth-child(2):hover {
	background-color: red;
	transition: 1.4s;}

#ulid li {
	margin-top: 50px;
	padding-left: 70px;
	font-size: 18px;
}



.container {
	margin: 0 auto;
	width: 1300px;
	height: 100%;
}

.sideme {
	font-size: 20px;
	width: 200px;
	height: 100px;
	float: left;
	position: relative;
}



#search {
	margin-left: 45%;
	position: absolute;
}

#menu1 div {
	float: left;
	padding: 40px;
}

#ulid tab-content {
	color: blue;
}

li {
	list-style: none;
	font-size: 15px;
	color: #333;
}

div {font-size: "30px";
	
}

.searchdiv {
	float: left;
	width: 140px;
}