@charset "utf-8";


#ulid>div:nth-child(2):hover {
	background-color: red;
	transition: 1.4s;
}

#ulid>div:nth-child(3):hover {
	background-color: blue;
	transition: 1.4s;
}

#ulid>div:nth-child(4):hover {
	background-color: black;
	transition: 1.4s;
}

#ulid>div:nth-child(4):hover {
	background-color: black;
	transition: 1.4s;
}





#ulid tab-content {
	color: blue;
}

li {
	list-style: none;
	font-size: 15px;
	color: #333;
}

div {font-size: "30px";
	
}

