@charset "EUC-KR";

#logob {
	position: relative;
}

.form-control {
	border: 1px solid #f86146
}

.hamjung {
	overflow: hidden;
	position: absolute;
	left: 16%;
}

#inputdiv {
	left: 45%;
	position: absolute;
}

#inputg {
	height: 50px;
	max-width: 400px;
}

#ing {
	font-size: 8px;
}

#icon {
	font-size: 18px;
}

.box {
	width: 200px;
	float: left;
	margin: auto;
	margin: 2%;
	margin-left: 2%;
}

#main {
	width: 1000px;
	height: 800px;
	margin: 0 auto;
	position: relative;
}

.boxone {
	width: 100%;
	height: 200px;
	position: absolute;
}

#page-wrapper {
	margin: 0 auto;
	height: 100%;
	width: 100%;
}